<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Carbon Footprint{% endblock %}</title>
        {% block stylesheets %}
            <link rel="stylesheet" href="https://bootswatch.com/4/simplex/bootstrap.min.css">
        {% endblock %}
    </head>
    <body>
        {% block header %}
            {% include "navbar.html.twig" %}
        {% endblock %}
        {% block content %}
            <div class="container">      
                {% for type, messages in app.flashes %}
                    <div class="alert alert-{{ type }}">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
            </div>
        {% endblock %}
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
